<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.mapleMannequin.mappers.memberMapper">

	<insert id="insertUser">
		insert into user(id,user,password,name) values(#{id},#{user},#{password},#{name})
	</insert>
	
	<select id="loginUser" resultType="com.project.data.userDTO">
		select * from user where user=#{user} and password=#{password}
	</select>
	

</mapper>